/data
GoogleNews-vectors-negative300.bin
plot/google_pre_and_yelp_corpus_test_plot/sentiment_words(Google_pretrained_and_yelp_corpus).png
plot/google_pre_vec_sentiment_plot/google_pre_sentiment.png
plot/yelp_minor/sentiment_analysis_plot.png
#CoreProcess.py
#CrawlerSetup.sh
#Glove.py
#LexiconMaker-negative.py
#LexiconMaker.py
#MenuCrawler.py
#MenuMerger.py
#MenuSpliter.py
#Pca.py
#PostProcess.py
#Preprocess.py
#README.md
#RestaurantMerger.py
#ReviewClassifier.py
#ReviewParser.py
#RunParallel.sh
#SpellingChecker.py
#Tsne.py
#Word2Vec.py
#plot/ScoreTest/ScoreTest.py
plot/ScoreTest/dishes_list.json
#plot/google_pre_and_yelp_corpus_test_plot/sentiment_analysis_plot.py
#plot/google_pre_vec_sentiment_plot/google_pre_vec_sentiment_plot.py
#plot/restaurant_test/restaurant_test.py
#plot/starRepresentation/ReviewClassifierWithStars.py
#plot/starRepresentation/StarRepresentationTest.py
#plot/yelp_minor/GooglePretrainedTest.py
#plot/yelp_minor/PcaGoogle.py
#plot/yelp_minor/sentiment_analysis_plot.py
plot/yelp_minor/test.txt
plot/yelp_minor/unique_words.txt
